<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog time</title>
  <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
  
  <div id="blogdiv">
    <h1>Write your Blogs here</h1>
    <form action="/create" method="post">
      <textarea name="text" placeholder="Write here.."></textarea>
      <br><br>
      <input type="submit">
    </form>
  </div>

</body>
</html>